In [2]:
import pandas as pd

In [3]:
abc = pd.read_csv("hr_raw_data.csv", index_col=0)

In [4]:
abc.head(10)

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,...,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,...,20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,...,33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1
2,42,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,1,3,...,22,NaN,11,15,NaN,1981,"192320,00$",ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,1771.404762,NaN,2,4,Medical,1,4,...,20,NaN,5,6,"14307,50$",1976,"171690,00$",NaN,NaN,False
4,46,No,NaN,1582.771346,NaN,3,3,Technical Degree,1,5,...,19,NaN,2,8,"12783,92$",1977,NaN,NaN,NaN,0
5,48,No,NaN,1771.920635,Research & Development,22,3,Medical,1,6,...,22,NaN,4,7,"14311,67$",1975,NaN,MANAger - Research & Development,NaN,Yes
6,59,No,NaN,1032.487286,NaN,25,3,Life Sciences,1,7,...,21,NaN,7,9,"8339,32$",1964,"100071,84$",NaN,NaN,True
7,42,No,travel_rarely,556.256661,NaN,1,1,NaN,1,8,...,20,NaN,11,6,NaN,1981,"53914,11$",NaN,NaN,0
8,41,No,NaN,1712.182540,NaN,2,5,NaN,1,9,...,18,NaN,11,8,"13829,17$",1982,"165950,00$",NaN,NaN,True
9,41,No,travel_frequently,1973.984127,NaN,9,3,NaN,1,10,...,18,NaN,0,11,"15943,72$",1982,NaN,NaN,NaN,0

In [5]:
print(abc.to_string())

               age attrition     businesstravel    dailyrate                department  distancefromhome  education    educationfield  employeecount  employeenumber  environmentsatisfaction  gender  hourlyrate  jobinvolvement  joblevel                      jobrole  jobsatisfaction maritalstatus monthlyincome monthlyrate  numcompaniesworked over18 overtime  percentsalaryhike performancerating  relationshipsatisfaction standardhours  stockoptionlevel totalworkingyears  trainingtimeslastyear worklifebalance  yearsatcompany yearsincurrentrole  yearssincelastpromotion  yearswithcurrmanager sameasmonthlyincome  datebirth      salary                                         roledepartament  numberchildren remotework
0               51        No                NaN  2015.722222                       NaN                 6          3               NaN              1               1                        1       0         NaN               3         5           resEArch DIREcToR                 3           NaN     16280,83$   42330,17$                   7      Y       No                 13               3,0                         3     Full Time                 0               NaN                      5             3,0              20                NaN                       15                    15           16280,83$       1972  195370,00$                                                     NaN             NaN        Yes
1               52        No                NaN  2063.388889                       NaN                 1          4     Life Sciences              1               2                        3       0         NaN               2         5                     ManAGeR                 3           NaN           NaN   43331,17$                   0    NaN      NaN                 14               3,0                         1           NaN                 1              34,0                      5             3,0              33                NaN                       11                     9                 NaN       1971  199990,00$                                                     NaN             NaN          1
2               42        No      travel_rarely  1984.253968   Research & Development                  4          2  Technical Degree              1               3                        3       0         NaN               3         5                     ManaGER                 4       Married           NaN   41669,33$                   1    NaN       No                 11               3,0                         4           NaN                 0              22,0                      3             NaN              22                NaN                       11                    15                 NaN       1981  192320,00$                     ManaGER  -  Research & Development              NaN          1
3               47        No      travel_rarely  1771.404762                       NaN                 2          4           Medical              1               4                        1       1         NaN               3         4           ReseArCH DIrECtOr                 3       Married     14307,50$   37199,50$                   3      Y      NaN                 19               3,0                         2     Full Time                 2               NaN                      2             NaN              20                NaN                        5                     6           14307,50$       1976  171690,00$                                                     NaN             NaN      False
4               46        No                NaN  1582.771346                       NaN                 3          3  Technical Degree              1               5                        1       1         NaN               4         4             sAleS EXECUtIve                 1      Divorced     12783,92$   33238,20$                   2      Y       No                 12               3,0                         4           NaN                 1               NaN                      5             3,0              19                NaN                        2                     8           12783,92$       1977         NaN                                                     NaN             NaN          0
5               48        No                NaN  1771.920635   Research & Development                 22          3           Medical              1               6                        4       1         NaN               3         4                     MANAger                 4           NaN     14311,67$   37210,33$                   3    NaN       No                 11               3,0                         2           NaN                 1               NaN                      3             3,0              22                NaN                        4                     7           14311,67$       1975         NaN                     MANAger  -  Research & Development              NaN        Yes
6               59        No                NaN  1032.487286                       NaN                25          3     Life Sciences              1               7                        1       1         NaN               3         3             Sales ExeCutIVe                 1           NaN      8339,32$   21682,23$                   7      Y      NaN                 11               3,0                         4     Part Time                 0              28,0                      3             2,0              21                NaN                        7                     9            8339,32$       1964  100071,84$                                                     NaN             NaN       True
7               42        No      travel_rarely   556.256661                       NaN                 1          1               NaN              1               8                        2       0   69.532083               3         2             Sales eXEcUTiVe                 3       Married           NaN   11681,39$                   1    NaN       No                 25               4,0                         3     Part Time                 0              20,0                      3             3,0              20                NaN                       11                     6                 NaN       1981   53914,11$                                                     NaN             NaN          0
8               41        No                NaN  1712.182540                       NaN                 2          5               NaN              1               9                        2       1         NaN               3         4                     mANAGEr                 1       Married     13829,17$   35955,83$                   7    NaN       No                 16               3,0                         2     Full Time                 1              22,0                      2             3,0              18                NaN                       11                     8           13829,17$       1982  165950,00$                                                     NaN             NaN       True
9               41        No  travel_frequently  1973.984127                       NaN                 9          3               NaN              1              10                        1       0         NaN               3         5           reSEaRCH DIrectoR                 3           NaN     15943,72$   41453,67$                   2    NaN       No                 17               3,0                         2           NaN                 1              21,0                      2             4,0              18                NaN                        0                    11           15943,72$       1982         NaN                                                     NaN             NaN          0
10              41        No         non-travel  2060.706349                       NaN                 7          1               NaN              1              11                        2       1         NaN               1         5           RESeArcH DIrEctoR                 3           NaN     16644,17$   43274,83$                   1      Y       No                 22               4,0                         2     Full Time                 2               NaN                      3             3,0              21                NaN                        5                    10           16644,17$       1982  199730,00$                                                     NaN             NaN          0
11              56        No      travel_rarely  1382.746032                       NaN                23          3     Life Sciences              1              12                        4       0  172.843254               3         4      MANUfACturing DIReCtOr                 2       Married           NaN   29037,67$                   4    NaN      Yes                 12               NaN                         1     Full Time                 1              33,0                      0             3,0              19                NaN                       15                     9                 NaN       1967  134020,00$                                                     NaN             NaN      False
12              38        No                NaN  1362.523810                       NaN                10          3           Medical              1              13                        2       1         NaN               1         3           REseaRCh dirEcToR                 3       Married           NaN   28613,00$                   3      Y       No                 12               3,0                         1     Full Time                 1               NaN                      3             3,0              18                NaN                        1                    11                 NaN       1985  132060,00$                                                     NaN             NaN          1
13              41       Yes      travel_rarely  2016.547619                       NaN                12          3               NaN              1              14                        2       1         NaN               3         5           reseARCh DIrEctoR                 3       Married           NaN   42347,50$                   1    NaN       No                 12               3,0                         4     Full Time                 0               NaN                      0             3,0              22                NaN                       15                     8                 NaN       1982  195450,00$                                                     NaN             NaN      False
14              55        No                NaN  1973.984127                       NaN                14          4           Medical              1              15                        3       0         NaN               4         5           RESeaRCH dirEctor                 2        Single     15943,72$   41453,67$                   8    NaN       No                 11               3,0                         4           NaN                 0               NaN                      3             3,0              24                NaN                        2                    15           15943,72$       1968         NaN                                                     NaN             NaN       True
15              40        No      travel_rarely  1861.373016                       NaN                 2          4               NaN              1              16                        3       1         NaN               3         5                     MAnAgeR                 3           NaN     15034,17$   39088,83$                   0    NaN       No                 14               3,0                         4     Full Time                 0               NaN                      2             3,0              20                NaN                        1                    12           15034,17$       1983  180410,00$                                                     NaN             NaN          0
16              58       Yes      travel_rarely  1985.698413                       NaN                 2          4               NaN              1              17                        4       0         NaN               3         5           reSeARCh DIrEcToR                 2        Single     16038,33$   41699,67$                   7      Y      Yes                 12               3,0                         4     Full Time                 0              40,0                      2             3,0              31                NaN                       13                     8           16038,33$       1965  192460,00$                                                     NaN             NaN          0
17              46        No      travel_rarely  1582.771346                       NaN                 2          3               NaN              1              18                        3       1         NaN               3         4                     MAnaGER                 1           NaN     12783,92$   33238,20$                   8    NaN      NaN                 23               4,0                         1           NaN                 0              28,0                      2             3,0              26                NaN                       15                     9           12783,92$       1977         NaN                                                     NaN             NaN      False
18              35        No                NaN   556.256661                       NaN               -13          5     Life Sciences              1              19                        2       0         NaN               4         2          REseArcH sciENtiST                 1       Married      4492,84$   11681,39$                   1    NaN      NaN                 11               3,0                         4           NaN                 0               NaN                      2             3,0              16                NaN                        1                    10            4492,84$       1988         NaN                                                     NaN             NaN      False
19              40        No      travel_rarely  1032.487286                       NaN                15          3     Life Sciences              1              20                        1       1         NaN               2         3      MAnUFaCtUring dIRecTOr                 3           NaN      8339,32$   21682,23$                   1      Y      NaN                 13               3,0                         4           NaN                 2              18,0                      2             NaN              18                NaN                       14                    12            8339,32$       1983         NaN                                                     NaN             NaN       True
20              45        No         non-travel  1108.920635   Research & Development                  1          1               NaN              1              21                        3       0         NaN               2         3   heaLtHcArE repResENtATiVe                 3           NaN      8956,67$   23287,33$                   3      Y      NaN                 23               4,0                         4     Full Time                 1              25,0                      3             2,0              23                NaN                       14                     4            8956,67$       1978  107480,00$   heaLtHcArE repResENtATiVe  -  Research & Development              NaN      False
21              33        No                NaN  1032.487286                       NaN                 1          2     Life Sciences              1              22                        1       1         NaN               3         3           RESEARCH dIrECtor                 4        Single           NaN   21682,23$                   1    NaN      Yes                 12               3,0                         3     Part Time                 0              15,0                      1             3,0              15                NaN                        8                    12                 NaN       1990  100071,84$                                                     NaN             NaN       True
22              36        No                NaN  1032.487286                       NaN                 8          3               NaN              1              23                        3       1         NaN               3         3   hEaltHCarE ReprESENTAtIvE                 3      Divorced           NaN   21682,23$                   1      Y      NaN                 13               NaN                         2           NaN                 3              17,0                      2             3,0              17                NaN                       12                     8                 NaN       1987  100071,84$                                                     NaN             NaN          1
23              47        No                NaN  1728.380952                       NaN                 2          2             Other              1              24                        3       1  216.047619               3         4                     maNagEr                 4       Married           NaN   36296,00$                   1    NaN      NaN                 11               3,0                         3     Full Time                 1               NaN                      3             2,0              26                NaN                        3                     0                 NaN       1976  167520,00$                                                     NaN             NaN      False
24              36        No      travel_rarely   639.785714                       NaN               -42          2     Life Sciences              1              25                       42       0   79.973214               3         2             SALEs exeCUtIVe                 4           NaN      5167,50$   13435,50$                   1      Y      NaN                 14               3,0                         4     Full Time                 1              18,0                      1             NaN              18                NaN                        4                    11            5167,50$       1987   62010,00$                                                     NaN             NaN       True
25              35        No                NaN  1032.487286                       NaN                 9          3     Life Sciences              1              26                        4       1  129.060911               2         3      manUfACtURing dirEctOR                 3       Married           NaN   21682,23$                   1      Y      Yes                 20               4,0                         2     Part Time                 1              17,0                      2             3,0              17                NaN                        5                    15                 NaN       1988  100071,84$                                                     NaN             NaN      False

In [6]:
pd.Series(abc.columns)

0                          age
1                    attrition
2               businesstravel
3                    dailyrate
4                   department
5             distancefromhome
6                    education
7               educationfield
8                employeecount
9               employeenumber
10     environmentsatisfaction
11                      gender
12                  hourlyrate
13              jobinvolvement
14                    joblevel
15                     jobrole
16             jobsatisfaction
17               maritalstatus
18               monthlyincome
19                 monthlyrate
20          numcompaniesworked
21                      over18
22                    overtime
23           percentsalaryhike
24           performancerating
25    relationshipsatisfaction
26               standardhours
27            stockoptionlevel
28           totalworkingyears
29       trainingtimeslastyear
30             worklifebalance
31              yearsatcompany
32          yearsincurrentrole
33     yearssincelastpromotion
34        yearswithcurrmanager
35         sameasmonthlyincome
36                   datebirth
37                      salary
38             roledepartament
39              numberchildren
40                  remotework
dtype: object

In [8]:
for i in abc.columns:
    print(f"Columna: {i} - Tipo de dato: {abc[i].dtype}")

Columna: age - Tipo de dato: object
Columna: attrition - Tipo de dato: object
Columna: businesstravel - Tipo de dato: object
Columna: dailyrate - Tipo de dato: float64
Columna: department - Tipo de dato: object
Columna: distancefromhome - Tipo de dato: int64
Columna: education - Tipo de dato: int64
Columna: educationfield - Tipo de dato: object
Columna: employeecount - Tipo de dato: int64
Columna: employeenumber - Tipo de dato: int64
Columna: environmentsatisfaction - Tipo de dato: int64
Columna: gender - Tipo de dato: int64
Columna: hourlyrate - Tipo de dato: float64
Columna: jobinvolvement - Tipo de dato: int64
Columna: joblevel - Tipo de dato: int64
Columna: jobrole - Tipo de dato: object
Columna: jobsatisfaction - Tipo de dato: int64
Columna: maritalstatus - Tipo de dato: object
Columna: monthlyincome - Tipo de dato: object
Columna: monthlyrate - Tipo de dato: object
Columna: numcompaniesworked - Tipo de dato: int64
Columna: over18 - Tipo de dato: object
Columna: overtime - Tipo de dato: object
Columna: percentsalaryhike - Tipo de dato: int64
Columna: performancerating - Tipo de dato: object
Columna: relationshipsatisfaction - Tipo de dato: int64
Columna: standardhours - Tipo de dato: object
Columna: stockoptionlevel - Tipo de dato: int64
Columna: totalworkingyears - Tipo de dato: object
Columna: trainingtimeslastyear - Tipo de dato: int64
Columna: worklifebalance - Tipo de dato: object
Columna: yearsatcompany - Tipo de dato: int64
Columna: yearsincurrentrole - Tipo de dato: object
Columna: yearssincelastpromotion - Tipo de dato: int64
Columna: yearswithcurrmanager - Tipo de dato: int64
Columna: sameasmonthlyincome - Tipo de dato: object
Columna: datebirth - Tipo de dato: int64
Columna: salary - Tipo de dato: object
Columna: roledepartament - Tipo de dato: object
Columna: numberchildren - Tipo de dato: float64
Columna: remotework - Tipo de dato: object